%h1 New comment
=form_for @comment_to_c do |f|
  .col-md-2
    Body
    %br
    = f.text_field :body, :value => ""
  .col-md-12.no_display_element
    %input{:name => "type_comments",:value => "Comment", :type => "text"}
  .col-md-12
    %p
      %input{:id => "regis",:name => "send", :type => "submit", :value => "Send", :class => "btn btn-success"}
.row
  .col-md-12
    %p
      = "id мастер коммента #{$master_comment.id}"
    %p
      = "id юзера #{$master_comment.user_id}"
    %p
      = "ид тому что пренадлежит соммент #{$master_comment.commentable_id}"
    %p
      = "#{$master_comment.commentable_type}"