!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if $user_login != nil
      =link_to $user_login.name, edit_user_path($user_login)
      | #{link_to "Sign out", "/"}
    - else
      =link_to "Sign in", users_path
      | #{link_to "Registration", new_user_path}
    %p
      =link_to "Home", posts_path()
    %p{:style => "color: green"}= flash[:success]
    %p{:style => "color: red"}= flash[:error]
    = yield
